/* Estilos para Header */

.header {
  background: linear-gradient(90deg, #0d0d2b, #2c003e); /* Fondo oscuro negro-púrpura */
  color: #39FF14; /* Verde alienígena */
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Distribuir el espacio entre elementos */
  align-items: center; /* Alinear los elementos verticalmente */
  position:relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
  background-size: cover;
  animation: backgroundMove 20s linear infinite;
}

.header:hover {
  background: linear-gradient(90deg, #000000, #1b1b32); /* Fondo negro */
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
}

.mainNav__links {
  display: flex;
  gap: 20px;
}

.mainNav__link {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  position: relative;
}

.mainNav__link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #39FF14;
  transition: width 0.3s;
}

.mainNav__link:hover::after {
  width: 100%;
}

.mainNav__icon {
  display: none;
}

.mainNav__icon svg {
  width: 24px;
  height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .mainNav__links {
    display: none;
  }

  .mainNav__icon {
    display: block;
  }
}

/* Animaciones del fondo */
@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
