/* CSS Global y Reinicialización */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer; /* Asegura que el cursor cambie */
}

/* Estilos para Header */

.header {
  background: linear-gradient(90deg, #0d0d2b, #2c003e); /* Fondo oscuro negro-púrpura */
  color: #39FF14; /* Verde alienígena */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100vw; /* Usa todo el ancho de la ventana */
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Asegura que el contenido no se salga del header */
}

.header .logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
}

.header .nav-links {
  display: flex;
  gap: 20px;
}

.header .nav-link {
  color: #39FF14;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  position: relative;
  cursor: pointer; /* Asegura que el cursor cambie */
}

.header .nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #39FF14; /* Verde alienígena */
  transition: width 0.3s;
}

.header .nav-link:hover::after {
  width: 100%;
}

.header .menu-icon {
  display: none;
}

.header .menu-icon svg {
  width: 24px;
  height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header .nav-links {
    display: none;
  }

  .header .menu-icon {
    display: block;
  }
}

/* Estilos para HeroSection */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: #ffffff;
}

.section {
  padding: 20px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.description {
  max-width: 60%;
}

.more-info {
  display: inline-block;
  margin-top: 10px;
  color: #39FF14;
  text-decoration: none;
  cursor: pointer; /* Asegura que el cursor cambie */
}

.projects {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-slider {
  display: flex;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project img {
  max-height: 200px;
}

.project-description {
  margin-top: 10px;
  text-align: center;
}

.prev-project, .next-project {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
}

.skills-contact {
  display: flex;
  justify-content: space-between;
  height: 20%;
}

.skills, .contact {
  flex: 1;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
